@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
   Add Job
</p>
@using (Html.BeginForm("AddJob", "AdminPanel", FormMethod.Post))
{
    <div class="row mb-2">
        <label class="col-sm-8 col-form-label" for="name">Job Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" id="name" required />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-8 col-form-label" for="cate">Job Category</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="category" id="cate" required />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-8 col-form-label" for="subcat">Sub Category</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="subcat" id="subcat" required />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-8 col-form-label" for="count">Vacancy Count</label>
        <div class="col-sm-5">
            <input type="int" class="form-control" name="count" id="count" required />
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-8 col-form-label" for="salary">Salary</label>
        <div class="col-sm-5">
            <input type="int" class="form-control" name="salary" id="salary" required />
        </div>
    </div>
    <div>
        <button class="btn btn-success" type="submit">

            SUBMIT

        </button>
    </div>
}
<div class="mt-5">
    <a class="btn btn-danger" href="./Index">Cancel</a>
</div>