@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary" href="/AdminPanel">ADMIN LOGIN </a>
    <a class="btn btn-primary" href="/JobSeeker">JOB SEEKER LOGIN </a>
</div>
